@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
* {
	margin: 0;
	padding: 0;
    font-family: 'Roboto', sans-serif;

}

body {
	overflow-x: hidden;
}

.logo {
	width: 100%;
	height: auto;
	max-width: 120px;
}

.nav {
	display: flex;
	justify-content: space-between;
	background-color:#00b6da;
	padding: 10px;
	position: relative;
	z-index: 1;
}

.navegation-1 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: white;
	font-weight: 900;
    line-height: 1.5em;
    text-transform: uppercase;
	font-style: italic;

}

.bologna {
	margin: 10px 0 10px;

}

.bologna span {
	color: #FFD42C;
	margin-left: 15px;
}

.navegation-2 ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	list-style: none;
	color: white;
	font-weight: 900;
    line-height: 1.5em;
    text-transform: uppercase;
	font-style: italic;
}

	
.design {
    font-size: 125px;
    line-height: .92727em;
    transform: skewY(-4deg);
    transform-origin: top left;
    font-style: italic;
    color: white;
    line-height: .92727em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: left;
    margin: 0 0 -18px;

}

.banner-1 {
	width: 70%;
    margin: auto;
    margin-top: 1vh;

}

.workshop {
	color: #FFD42C;
}


.first {
	transform: rotate(-2deg);
    height: 120vh;
    display: flex;
    width: 117%;
    margin-left: -54px;
    z-index: -1;
    background-color: #00b6da;
    padding-top: 250px;
}

.top {
	position: absolute;
    width: 100%;
}

.white-jake {
	color: white;
	text-align: left;
	transform: rotate(-3deg);
	font-size: 36px;
	font-style: italic;
	font-family: 'Roboto';
	font-weight: 900;
}

.text-date {
	color: #FFD42C;
}

.white-jake span:first-child {
	font-weight: 100;
}

.banner-2 {
	


	}

.text-file{
	display: flex;
	justify-content: space-around;
	color: white;
	font-style: italic;
	transform: rotate(-3deg);
	padding-bottom: 100px;
	font-size: 31px;
	margin-top: 45px;
}

.design-2 {
	font-size: 100px;
	transform: skewY(-2deg);
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	 font-weight: lighter;
}

.design-3 {
	transform: skewY(-2deg);
    transform-origin: top left;
    font-style: italic;
    line-height: .92727em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 100px;
}

.text-wrap {
	margin: 8rem auto;
}

.text-sprint {
	    font-family: proxima-nova,sans-serif;
    font-size: 24px;
    line-height: 1.5em;
}

.cont-text {
	margin-right: -15px;
	margin-left:-15px;
}
svg {
	width: 100%;
	height: 500px;
	margin-top: 150px;
}

.b-cycle__buttons, .b-cycle__image, .button {
    text-align: center;
}

.img-blue {
    background-image: url(./img/jake-video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 300px;

}

.fast-forward {
	font-size: 31px;
	text-align: left;
	font-weight: 900;
    font-style: italic;
    color: #FFD42C;
    text-align: left;
}

.color-yellow {
	background-color: : #FFD42C;
	 background-image: url(./img/jake-bio.jpg);
	 padding: 300px;
	 background-repeat: no-repeat;