@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
* {
	margin: 0;
	padding: 0;
    font-family: 'Roboto', sans-serif;

}

body {
	overflow-x: hidden;
}

.logo {
	width: 100%;
	height: auto;
	max-width: 140px;
}

.nav {
	display: flex;
	justify-content: space-between;
	background-color:#00b6da;
	padding: 10px;
	position: relative;
	z-index: 1;
}

.navegation-1 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: white;
	font-weight: 900;
    line-height: 1.5em;
    text-transform: uppercase;
	font-style: italic;

}

.bologna {
	margin: 10px 0 10px;

}

.bologna span {
	color: #FFD42C;
	margin-left: 15px;
}

.navegation-2 ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	list-style: none;
	color: white;
	font-weight: 900;
    line-height: 1.5em;
    text-transform: uppercase;
	font-style: italic;
}

.header-color {
	color: white;

}

.cyan {
	transform: skewY(-4deg);
	margin-bottom: 60px;
}
	
.design {
    font-size: 125px;
    line-height: .92727em;
    transform: skewY(-2deg);
    transform-origin: top left;
    font-style: italic;
    color: white;
    line-height: .92727em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: left;
    margin: 0 0 -18px;

}

.banner-1 {
	width:84%;
    margin-left: 16%;


}

.workshop {
	color: #FFD42C;
}


.first {
    height: 120vh;
    background-color: #00b6da;
    padding-top: 250px;
}

.top {
	position: absolute;
    width: 100%;
}

.white-jake {
	color: white;
	text-align: left;
	transform: rotate(-3deg);
	font-size: 36px;
	font-style: italic;
	font-family: 'Roboto';
	font-weight: 900;
}

.text-date {
	color: #FFD42C;
}

.white-jake span:first-child {
	font-weight: 100;
}
	

.design-2 {
	font-size: 70px;
	transform: skewY(-2deg);
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	 font-weight: lighter;
	 margin-top: 60px;
}

.design-3 {
	transform: skewY(-2deg);
    transform-origin: top left;
    font-style: italic;
    line-height: .92727em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 70px;
}

.text-sprint {
	font-family: proxima-nova,sans-serif;
    font-size: 24px;
    line-height: 1.5em;
}

.cont-text {
	margin-right: -15px;
	margin-left:-15px;
}
svg {
	width: 100%;
	height: 500px;
	margin-top: 150px;
}

.b-cycle__buttons, .b-cycle__image, .button {
    text-align: center;
}

.sprint-sistem {
    background-image: url(./img/jake-video.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 300px 0;
    margin: 25px 0;
    transform: skewY(-4deg);

}


.img-yellow {
	width: 50%;
    background-image: url(./img/jake-bio.jpg);
    background-size: cover;
    height: 100%;
    transform: skewY(deg);
    margin: 30px 0;
    background-position: 90% 50%;
}

.color-yellow {
	background-color: #FFD42C;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    height: 800px;
    transform: skewY(-4deg);
}

.color-yellow>div {
	width: 50%;
	transform: skewY(0deg);
}


.contenedor {
	width: 60%;
	margin: 0 auto;
}

.jake-created p {
    font-style: italic;
    color: black;
    font-weight: 900;
    transform: skewY(3.5deg);
    width: 60%;
	margin: 0 auto;
	margin-bottom:10px;
}

.jake-1 {
	font-size: 40px;
	font-weight: 900;
}

.jake-2 {
	font-size: 30px;
	font-weight: 600;
}


.jake-3 {
	font-size: 20px;
	font-weight: 300;
}

.line {
	background:#FFD42C;
	height: 2px;
	width: 999px;
	transform: skewY(-4deg);
	margin-top: 50px;
	font-family: proxima-nova,sans-serif;
    font-size: 24px;
    line-height: 1.5em;
    margin-bottom: 70px;
}

.who {
	font-weight: 900;
	font-size: 25px;
	font-style: italic;
	margin: 25px 0;
}

.img-design {
	background-image: url(./img/design-sprint-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 300px 0;
    min-height: 900px;
    margin: 5px 0;
    transform: skewY(-4deg);
}
.img-design-2 {
	background-image: url(./img/design-sprint-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 300px 0;
    min-height: 900px;
    margin: 25px 0;
    transform: skewY(-4deg);
}


.info {
	background: #292929;
	transform: skewY(-4deg);
	color: white;
}

.p-tick {
		transform: skewY(4deg);
}

.p-tick-ita {
	font-style: italic;
	transform: skewY(4deg);
}

.info {
	padding: 150px;
}

.black-text {
	font-weight: 600;
}


.location {
	background-image: url(./img/location.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    min-height: 900px;
    margin: 25px 0;
    transform: skewY(-4deg);
}

.cont-text {
	margin-bottom: 50px;
}

.map {
	background-image: url(./img/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 300px 0;
    min-height: 900px;
    transform: skewY(-4deg);
    position: relative;
}

.img-black {
	background-image: url(./img/img-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 330px 0;
    min-height: 900px;
    transform: skewY(-4deg);
}

.content-radio {
	width: 60px;
	height: 60px;
	background:rgba(255, 212, 44, 0.62);;
	border-radius: 50%;
	display: flex;
	align-items: center;
	margin: auto;
	transform: skewY(4deg);
	
	position: absolute;
	bottom: 235px;
	right: 0;
	left: 0;
	box-sizing: border-box;
}

.radio {
	width: 36px;
	height: 36px;
	border-radius:50%;
	background:#FFD42C;
	margin: auto;
	animation: mymove 2s infinite;
	
}

@keyframes mymove {
    from {padding: 10px;}
    to {padding: 20px;}
} 

.map-new {
	color:white;
	margin-bottom:300px;
	transform: skewY(4deg);
}

.map { 
	color: white;

}



.map-text {
	transform: skewY(4deg);
	margin: auto;
	width: 35%;
}

.text-1-map {
	font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 45px;
}

.text-2-map {
	font-weight: 300;
    margin-bottom: 30px;
    font-size: 30px;
}

.photos {
	color:yellow;
	font-size: 25spx;
	width:
}

.photos-cont {
	background-color: white;
	color: black;
}

.slider {
	width: 100%;

}
.slick {
	transform: skewY(4deg);
}

.slick img {
	margin-right: 10px;
}

.purple {
	background-color: #1F1C3D;
}

.purple p {
	color: white;
}

.img-purple {
	width: 50%;
    background-image: url(./img/work_shops.jpg);
    background-size: cover;
    height: 100%;
    transform: skewY(deg);
    margin: 10px 0;
    background-position: 90% 50%;
    z-index: 2;
}
}